{{ define "main" }}
{{ partial "breadcrumbs" . }}
<!-- this is displayed for a specific tag, and will link content related -->
<section class="resume-section p-3 p-lg-5 d-flex d-column">
  <div class="my-auto">
    <h2 class="mb-3">{{ .Data.Term }}</h2>
    {{ if eq .Data.Term "Best Director" }}
      {{ partial "awards/techCategory.html" (dict "context" . "pages" .Data.Pages "category" "directors") }}
    {{ else if eq .Data.Term "Best Screenplay" }}
      {{ partial "awards/techCategory.html" (dict "context" . "pages" .Data.Pages "category" "writers") }}
    {{ else if eq .Data.Term "Best Cinematography" }}
      {{ partial "awards/techCategory.html" (dict "context" . "pages" .Data.Pages "category" "dp") }}
    {{ else if eq .Data.Term "Best Editing" }}
      {{ partial "awards/techCategory.html" (dict "context" . "pages" .Data.Pages "category" "editor") }}
    {{ else if eq .Data.Term "Best Score" }}
      {{ partial "awards/techCategory.html" (dict "context" . "pages" .Data.Pages "category" "composer") }}
    {{ else if or (eq .Data.Term "Best Actor") (eq .Data.Term "Best Actress") (eq .Data.Term "Best Supporting Actor") (eq .Data.Term "Best Supporting Actress") }}
      {{ partial "awards/actingCategory.html" . }}
    {{ else if eq .Data.Singular "award" }}
      {{ partial "awards/filmCategory.html" . }}
    {{ else }}
      <ul>
        {{ range .Data.Pages }}
          <li>
            <b><a href="{{.Permalink}}">{{.Title}}</a></b> ({{ .Params.year }})
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
</section>
{{ end }}
