{{ define "main" }}
{{ partial "breadcrumbs" . }}
<section class="resume-section p-3 p-lg-5 d-flex d-column">
  <div class="my-auto">
    <img title="{{ .Title }}" src="{{ .Params.photo }}" style="max-width:350px; padding-bottom:10px;"/>
    <h3 class="mb-0"><span>{{ .Params.director }}'s</span></h3>
    <h2 class="mb-0"><span class="text-primary">{{ .Title }}</span></h2>
    {{ .Content }}
    Winner of the following awards in <b><a href="{{ "/awards/" | relURL }}{{ .Params.year | urlize }}">{{ .Params.year }}</a></b>:
    {{ partial "awardsList" . }}
    {{ with .Params.link }}<p>Full movie description: <a href="{{ . }}">{{ . }}</a></p>{{ end }}
  </div>
</section>
{{ end }}
