<div class="resume-item d-flex flex-column flex-md-row mb-4">
  <div style="width: 100px;">
    <h2 class="mb-0">{{ .Params.edition }}</h2>
  </div>
  <div>
    {{ $winnerPath := print "/actors/" .Params.winner }}
    {{ $winner := .Site.GetPage $winnerPath }}
    <h3 class="mb-0">
      <a href="{{ trim $winnerPath ".md" | urlize }}">{{ $winner.Title }}</a>
      <h4>
        ({{ range $i, $page := .Params.films }}
          {{ if $i }}, {{ end }}
          {{ $filmPath := print "/movies/" $.Params.edition "/" $page }}
          {{ $film := $.Site.GetPage $filmPath }}
          <a href="{{ trim $filmPath ".md" | urlize }}">{{ $film.Title }}</a>
        {{ end }})
      </h4>
    </h3>
  </div>
</div>