{{ $filmPath := print "/movies/" .Params.edition "/" .Params.film }}
{{ $film := .Site.GetPage $filmPath }}
<div class="resume-item d-flex flex-column flex-md-row mb-4">
  <div class="resume-content" style="padding: 4px 12px 0px 0px">
    <img src="{{ .Params.image }}" style="max-width:320px;"/>
  </div>
  <div class="publication-content mr-auto">
    <h2 class="mb-0"><a href="{{ "/awards" | relURL }}{{ .Params.title | urlize | relURL}}">{{ .Params.title }}</a></h2>
    {{ if .Params.winner }}
      <!-- an award to an actor / director / etc -->
      <h3 class="mb-0">{{ .Params.winner }}</h3>
      {{ range .Params.films }}
        {{ $filmPath := print "/movies/" $.Params.edition "/" . }}
        {{ $film := $.Site.GetPage $filmPath }}
        <b>Film: <a href="{{ trim $filmPath ".md" | urlize }}">{{ $film.Title }}</a></b><br>
      {{ else }}
        <b>Film: <a href="{{ trim $filmPath ".md" | urlize }}">{{ $film.Title }}</a></b>
      {{ end }}
    {{ else }}
      <!-- an award to the film -->
      <h3 class="mb-0">{{ $film.Title }}</h3>
      <b>Director: <a href="{{ "/directors/" | relURL }}{{ $film.Params.directors | urlize }}">{{ $film.Params.directors }}</a></b>
    {{ end }}
  </div>
</div>
