<div class="resume-item d-flex flex-column flex-md-row mb-4">
  <div class="resume-content" style="padding: 4px 12px 0px 0px">
    <img src="{{ .Params.image }}" style="max-width:250px;padding:5px;"/>
  </div>
  <div class="publication-content mr-auto">
    <h2 class="mb-0"><a href="{{ "/awards" | relURL }}{{ .Params.title | urlize | relURL}}">{{ .Params.title }}</a></h2>
    <!-- <h3 class="mb-0">{{ .Params.winner }}</h3> -->
    {{ if isset .Params "kind" }}
      <!-- either a technical award or an acting award -->
      {{ with .Site.GetPage "actors" }}
        {{ with (index (.Resources.Match (string $.Params.winner)) 0) }}
          <h3 class="mb-0">{{ .Title }}</h3>
          <b>Film: <a href="{{ "/movies/" | relURL }}{{ $.Params.edition | urlize }}/{{ $.Params.film | urlize }}">{{ $.Params.film }}</a></b>
        {{ end }}
      {{ end }}
      <!-- <b><a href="{{ "/directors/" | relURL }}{{ .Params.edition | urlize }}{{ . | urlize }}">{{ .Params.film }}</a></b> -->
    {{ else }}
      {{ with .Site.GetPage "films" }}
        {{ with (index (.Resources.Match (string $.Params.film)) 0) }}
          <h3 class="mb-0">{{ .Title }}</h3>
          <b>Director: <a href="{{ "/directors/" | relURL }}{{ .Params.directors | urlize }}">{{ .Params.directors }}</a></b>
          <!-- {{ .Content }} {{ .Params.role }} -->
        {{ end }}
      {{ end }}
    {{ end }}
    <!-- <div>{{ .Summary | safeHTML }}</div> -->
    <!-- <p>{{ partial "awardsList" . }}</p> -->
  </div>
</div>
