{{ $pages := where .Site.RegularPages ".Title" .Data.Term }}
{{ $pages := $pages | intersect (where .Site.RegularPages "Params.type" "award" ) }}
{{ range $pages.Reverse }}
<div class="resume-item d-flex flex-md-row mb-4">
  <div style="min-width: 100px;">
    <h2 class="mb-0">{{ .Params.edition }}</h2>
  </div>
  <div>
    {{ $edition := .Params.edition }}
    <h3 class="mb-0">
      <span>{{ .Params.winner }}</span>
      <h4>
        ({{ range $i, $page := .Params.films }}
          {{ if $i }}, {{ end }}
          {{ $filmPath := print "/movies/" $edition "/" $page }}
          {{ $film := $.Site.GetPage $filmPath }}
          <a href="{{ trim $filmPath ".md" | urlize }}">{{ $film.Title }}</a>
        {{ else }}
          {{ $filmPath := print "/movies/" $edition "/" .Params.film }}
          {{ $film := $.Site.GetPage $filmPath }}
          <a href="{{ trim $filmPath ".md" | urlize }}">{{ $film.Title }}</a>
        {{ end }})
      </h4>
    </h3>
  </div>
</div>
{{ end }}